body{
    margin: 0;
    padding: 0;
}
.main_body{
    padding: 50px;
    /*padding-top: 100px;*/
    margin: 0;
    background-size: contain;
    border-radius: 4px;
    background-image: url(sources/bgim_auth_w.jpg);
    background-repeat: repeat;
    text-align: center;
}
.header_container_main{
    height: 50px;
    position: fixed;
    width: 100%;
    background-color:rgb(79, 79, 79);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Montserrat Alternates', sans-serif;
    color: darkgray;
}

.game_name_container{
    padding: 5px;
    display: flex;
    align-items: center;
}

.game_name_text {
    font-size: 25px;
}

.change_color_btn_container{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.change_color_btn {
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
    border-radius: 5px;
    background: gainsboro;
    font-size: 15px;
}

.user_nickname_container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_nickname {
    font-family: 'Montserrat Alternates', sans-serif;
    color: darkgrey;
    font-size: 22px;
}

.chose_level_container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.main_body a {
    background-color: rgb(79, 79, 79);
    text-decoration: none;
    color: darkgray;
    border-radius: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    padding: 2px;
}

.res_container_older {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 164px);
    background-color: rgba(79, 79, 79, .9);
    border-radius: 40px;
}

.result_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 50px;
    row-gap: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: darkgray;
    font-size: 20px;
}

.hrefl_container {
    padding: 20px;
}